.candies {
    height: calc(100vh - 50px);
}

.mugs-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    background-color:#92A8D1;
}

.card {
    margin:1rem;
    width: 18rem;
    border: .5rem solid #F7CAC9;
    border-radius: 3rem;
    background-color:white;
    height:350px;
    box-shadow: 0px 0px 5px 0px #272528;
}

img {
    margin-top:.5rem;
    padding-left:3rem;
}

h3 {
    text-align:center;
    margin:1rem;
}

p {
    text-align: center;
    margin:1rem;
}

hr {
    width: 80%;
    margin:auto;
}