
.mugs-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    background-color:#92A8D1;
    padding-top: 1rem;
    min-height: calc(100vh - 50px);
}

.card {
    margin:1rem 1rem 1rem 1rem;
    width: 18rem;
    border: .5rem solid #F7CAC9;
    border-radius: 3rem;
    background-color:white;
    height:395px;
    box-shadow: 0px 0px 5px 0px #272528;
}

img.main {
    margin-top:.5rem;
    padding-left:2.5rem;
}

h3.main {
    text-align:center;
    margin:1rem;
}

p.main {
    text-align: center;
    margin:1rem;
}

hr.main {
    width: 80%;
    margin:auto;
}

button.main {
    padding:.4rem;
    border-radius: 2rem;
    border:1px solid #92A8D1;
    background-color:#F7CAC9;
    box-shadow: 0px 0px 2px 0px #272528;
    cursor: pointer;
}

.cardButtonDiv {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

button.main:hover {
    box-shadow: 0px 0px 4px 0px #272528;
}

button.main:active {
    box-shadow: 0px 0px 4px -1px #272528;
    background-color:#e7bfbd;
    transform: translateY(2px);
}

.mugCardLink {
    color:black;
    text-decoration:none;
}